.page.credits__container {
  background-color: rgba(0, 0, 0, 0.3);

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  h1,
  h2 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;

    li {
      font-size: 1.2em;
      margin-bottom: 1rem;
    }
  }
}
