.question-page {
  .question-page__title,
  .question-page__paragraph,
  .question-page__option {
    font-size: 20px;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 0 0 5px #000;
  }

  .question-page__option {
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 100%;
    cursor: pointer;

    &:hover {
      color: #fff2a9;
    }

    input,
    label {
      margin-right: 1em;
      cursor: pointer;

      &.checked {
        color: #ffef94;
      }
    }
  }

  button {
    display: block;
    margin: auto;
    margin-top: 1.5em;
  }
}
