.question-page {
  .question-page__title,
  .question-page__paragraph,
  .question-page__option {
    margin-bottom: 1rem;
  }

  .question-page__paragraph,
  .question-page__option {
    font-size: 1.2em;
  }

  .question-page__option {
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 100%;
    cursor: pointer;

    &:hover {
      text-shadow: 0 0 10px #fff;
    }

    input,
    label {
      margin-right: 1em;
      cursor: pointer;

      &.checked {
        color: #31cfff;
      }
    }
  }

  button {
    display: block;
    margin: auto;
    margin-top: 1.5em;
  }
}
