.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2em;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5em;
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}
